body {
    font-family: -apple-system;
    font: -apple-system-body;
    /* word-wrap: break-word; */
    caret-color: red;   /* Helps with debugging since should not appear */
    line-height: 1.7;
    padding: 0 20px 20px 20px;
}

#editor {
    caret-color: blue;
    overflow: auto;
    cursor: auto;
}

#editor:focus {
    outline: none !important;
}

/*
#editor {
    -webkit-user-select: auto !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: auto;
    display: table-cell;
    height: 100%;
}
*/

a {
    text-decoration: none;
}
@media (prefers-color-scheme: dark) {
    a {
        color: #4183c4;
    }
}

a:hover {
    text-decoration: underline;
}

p, ul, ol, dl, table, pre {
    margin: 15px 0;
}

ul, ol {
    padding-left: 30px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.0em;
}

h6 {
    font-size: .83em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.7;
    margin: 0 0 10px 0;
}

h1 + p, h2 + p, h3 + p {
    margin-top: 10px;
}

table {
    border: 1px solid #DDD;
    min-width: 100px;
}

table thead tr th {
    border-bottom: 1px solid #DDD;
}

td, th {
    min-width: 20px;
}

/* GitHub style?
table {
    padding: 0; }
table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
table tr:nth-child(2n) {
    background-color: #f8f8f8; }
table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px; }
table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px; }
table tr th :first-child, table tr td :first-child {
    margin-top: 0; }
table tr th :last-child, table tr td :last-child {
    margin-bottom: 0; }
*/

code {
    background-color: #F8F8F8;
    border-radius: 3px;
    border: 1px solid #DDD;
    font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
    margin: 0 2px;
    padding: 0 5px;
    white-space: pre;
}
@media (prefers-color-scheme: dark) {
    code {
        background-color: #808080;
    }
}
