/* A minimalistic css to use as a starting point. */
body {
    overflow: auto;
    margin: 8px;
    font-family: -apple-system;
    font: -apple-system-body;
}

#editor {
    overflow: auto;
    cursor: text;
}

#editor:focus {
    outline: none !important;
}

code {
    font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
    white-space: pre-wrap;
}

blockquote {
    font-style: italic
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
     margin: 0px;
     margin-right: 8px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
