name: MarkupEditor

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-26

    steps:
    - uses: actions/checkout@v4

    - name: Install certificate
      env:
        BUILD_CERTIFICATE_BASE64: ${{ secrets.MAC_BUILD_CERTIFICATE_BASE64 }}
        P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
        KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
      run: |
        # Decode certificate to temp file
        CERTIFICATE_PATH=$RUNNER_TEMP/certificate.p12
        KEYCHAIN_PATH=$RUNNER_TEMP/build.keychain

        echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode -o $CERTIFICATE_PATH

        # Create a temporary keychain
        security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
        security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
        security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

        # Import certificate into the keychain
        security import $CERTIFICATE_PATH -P "$P12_PASSWORD" \
          -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          
        # Allow codesign to access the keychain without UI prompts
        security set-key-partition-list \
          -S apple-tool:,apple:,codesign: \
          -s -k "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

        # Make it available to the build tools
        security list-keychain -d user -s $KEYCHAIN_PATH

    - name: Test Mac Catalyst
      run: |
        xcodebuild clean test \
          -scheme MarkupEditor \
          -destination 'platform=macOS,variant=Mac Catalyst' \
          OTHER_CODE_SIGN_FLAGS="--keychain $RUNNER_TEMP/build.keychain"

    - name: Test MacOS
      run: |
        xcodebuild clean test \
          -scheme MarkupEditor \
          -destination 'platform=macOS' \
          OTHER_CODE_SIGN_FLAGS="--keychain $RUNNER_TEMP/build.keychain"

    - name: Clean up keychain
      if: always()  # runs even if previous steps fail
      run: |
        security delete-keychain $RUNNER_TEMP/build.keychain